
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.333% - 20px);
  margin-left: 20px;
  margin-bottom: 20px;
  min-height: auto;
  box-sizing: border-box;
  position: relative;
  &:hover{
    background: none;
    .movieTitleContainer{
      display: none;
    }
    .releaseDate{
      display: none;
    }
    .voteAvarage{
      display: none;
    }
    .playButton{
      display: block;
    }
  }
}

.movieTitleContainer {
  pointer-events: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 8px;
  width: 100%;
  padding: 8px;
  z-index: 2;
}
.movieTitle {
  display: block;
  position: relative;
  color: var(--base-500);
  font-size: 0.7rem;
  width: 100%;
  height: 100%;
  z-index: 1;
  width: 80%;
  text-decoration: none;
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
}


.voteAvarage {
  display: block;
  position: absolute;
  right: 0;
  background: var(--vote-color);
  font-size: 0.4rem;
  color: var(--text-color-dark);
  padding: 3px 8px;
  margin: 3px;
  border-radius: var(--rounded-lg);
}


.releaseDate {
  right: 10px;
  bottom: 10px;
  font-size: 0.4rem;
  border-radius: var(--rounded-lg);
  position: absolute;
  display: block;
  color: var(--text-color);
  z-index: 3;
}
.playButton{
  display: none;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 40%;
  left: 30%;
}
.movieClick {
  transition: all 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0)
    linear-gradient(0deg, hsl(0, 0%, 0%) 0%, rgba(0, 0, 0, 0) 55%) repeat scroll
    0 0;
  bottom: -121px;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  bottom: 0;
  text-decoration: none;
  &:hover{
    background: none;
  }
}
.posterContainer {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.poster {
  aspect-ratio: 215 / 322 !important;
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
}

@media only screen and (max-width: 380px) {
  .container {
    min-height: 228px !important;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex: 0 0 calc(50% - 20px);
    min-height: 250px;
  }
}
@media only screen and (max-width: 800px) {
  .container {
    flex: 0 0 calc(33.333% - 20px);
  }
}

@media only screen and (min-width: 420px) {
  .movieTitle {
    font-size: 1rem;
    padding: 6px;
  }
  .voteAvarage {
    font-size: 0.6rem;
  }

  .releaseDate {
    font-size: 0.6rem;
  }

  
 
}

@media only screen and (min-width: 1200px) {
  .movieTitle {
    font-size: .8rem;
    padding: 8px;
  }
  .voteAvarage {
    font-size: .7rem;
    margin: 6px;
  }


  .releaseDate {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 1500px) {
  .movieTitle {
    font-size: 1.3rem;
    padding: 8px;
  }
  .voteAvarage {
    font-size: 1.2rem;
  }
}
