//** variables
$background: #f5f6fa;
$text: #000000;
$input-bg-color: #fff;
$input-text-color: #000000;
$button-bg-color: #ffffff;
$button-text-color: rgb(0, 0, 0);

//** helper
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

//** button
.btn {
  display: flex;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;

  &Primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 3px 5px;

    &:hover {
      background: darken($button-bg-color, 4%);
    }

    &:active {
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &Inside {
    margin-left: -19px;
  }
}

//** form
.searchBox {
  width: 90%;
  background: #fff;
  color: $input-text-color;
  text-align: left;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 1px 0px;
  text-indent:10px;

}

@media only screen and (min-width: 640px) {
  .searchBox {
    width: 300px;
  }
}

