:root {
  /* Base colors */
  --base-100: hsl(190, 67%, 55%);;
  --base-200: hsl(190, 67%, 50%);;
  --base-300: hsl(190, 67%, 45%);;
  --base-400: hsl(190, 67%, 40%);;
  --base-500: hsl(190, 67%, 35%);;



  --text-color: #ffffff;
  --background-color: hsl(233, 34%, 15%);
  --scrollbar-thumb-color: #ffffff;
  --scrollbar-color: #313661;
  --vote-color:#f4c200;
  --text-color-dark:#000000;
  --watch-button-bg:#ffffff;
  /* Font weights */
  --text-thin: 100;
  --text-normal: 400;
  --text-bold: 700;

  /* Spacing */

  /* Rounded edges */
  --rounded-lg: 0.5rem;

 

}
