:root {
  /* Base colors */
  --base-100: #edf7fc;
  --base-200: #dcf0fa;
  --base-300: #b9e2f5;
  --base-400: #84cdee;
  --base-500: #50e7a8;;



  --text-color: #ffffff;
  --background-color: hsl(233, 34%, 15%);
  --scrollbar-thumb-color: #ffffff;
  --scrollbar-color: #313661;
  --vote-color:#f4c200;
  --text-color-dark:#000000;
  --watch-button-bg:#ffffff;
  /* Font weights */
  --text-thin: 100;
  --text-normal: 400;
  --text-bold: 700;

  /* Spacing */

  /* Rounded edges */
  --rounded-lg: 0.5rem;

 

}
